SET NOCOUNT ON
DECLARE @DBYEAR INT
SELECT @DBYEAR = CurrentAssessYear from CoreSystem
PRINT @DBYEAR

BEGIN TRAN
--LOAD MOST BASIC PARCEL DATA FROM DATAPROPERTY
INSERT INTO WEB.STAGE.PARCEL (PARCEL_ID,ACCOUNT_NUMBER,DB_YEAR,SUBDIVISION_CODE,USE_CODE,NEIGHBORHOOD_CODE,STATUS,
SECTION,TOWNSHIP,[RANGE],CENSUS,ZONING,DESCRIPTION,SITUS_STREET_NUMBER,SITUS_STREET,SITUS_STREET_DIRECTION,SITUS_STREET_UNIT,SITUS_CITY,SITUS_POSTAL_CODE,SITUS_ADDRESS)
SELECT DP.PARCELID PARCEL_ID,
DP.ACCOUNTNUMBER ACCOUNT_NUMBER,
@DBYEAR DB_YEAR,
ISNULL(EDW.FN.TRIM(DP.USERACCOUNT),'N/A') SUBDIVISION_CODE,
ISNULL(EDW.FN.TRIM(DP.LUC),'N/A') USE_CODE,
ISNULL(EDW.FN.TRIM(DP.NBC),'N/A') NEIGHBORHOOD_CODE,
CASE WHEN ISNULL(DP.CLOSED,0) = 0 THEN '0' ELSE '1' END STATUS,
ISNULL(EDW.FN.TRIM(DL.PRIORID3A),'N/A') SECTION,
ISNULL(EDW.FN.TRIM(DL.PRIORID1A),'N/A') TOWNSHIP,
ISNULL(EDW.FN.TRIM(DL.PRIORID2A),'N/A') [RANGE],
ISNULL(EDW.FN.TRIM(DL.CENSUS),'N/A') CENSUS,
ISNULL(EDW.FN.TRIM(DZ.ZONINGCODE),'N/A') ZONING,
ISNULL(EDW.FN.TRIM(LD.LEGALDESCRIPTION),'N/A') DESCRIPTION,
ISNULL(EDW.FN.TRIM(STREETNUMBER),'N/A') SITUS_STREET_NUMBER,
ISNULL(EDW.FN.TRIM(TL.DESCRIPTION),'N/A') SITUS_STREET,
ISNULL(NULLIF(EDW.FN.TRIM(LOCDIRECTION),'-'),'N/A') SITUS_STREET_DIRECTION,
ISNULL(DP.UNIT,'N/A') SITUS_STREET_UNIT,
ISNULL(TC.DESCRIPTION,'N/A') SITUS_CITY,
ISNULL(LOCATIONSTATE,'N/A') SITUS_POSTAL_CODE,
EDW.FN.TRIM(COALESCE(EDW.FN.TRIM(STREETNUMBER) + ' ','') + COALESCE(NULLIF(EDW.FN.TRIM(LOCDIRECTION),'-') + ' ','') + EDW.FN.TRIM(TL.DESCRIPTION) + COALESCE(' ' + DP.UNIT,'')) + ' ' + TC.DESCRIPTION + ', FL ' + LOCATIONSTATE SITUS_ADDRESS
FROM (SELECT * FROM DATAPROPERTY WHERE CARDNUMBER =1) DP
LEFT OUTER JOIN
DATALEGAL DL
ON DP.ACCOUNTNUMBER = DL.ACCOUNTNUMBER
AND DL.CARDNUMBER = 1
LEFT OUTER JOIN
DATAZONING DZ
ON 
DP.ACCOUNTNUMBER = DZ.ACCOUNTNUMBER
AND DZ.CARDNUMBER = 0
LEFT OUTER JOIN
DATALEGALDESCRIPTION LD
ON 
DP.ACCOUNTNUMBER = LD.ACCOUNTNUMBER
JOIN
TABLELOCATIONS TL
ON
DP.LOCATIONLOOKUP = TL.CODE
JOIN
TABLECITY TC
ON
TL.CITYCODE = TC.CODE
PRINT 'DONE LOADING INITAL PARCEL INFO'
COMMIT TRAN


BEGIN TRAN
INSERT INTO WEB.STAGE.BUILDING
SELECT 
DP.PARCELID PARCEL_ID,
DP.CARDNUMBER CARD_NUMBER,
@DBYEAR DB_YEAR,
NULL,
ISNULL(EDW.FN.TRIM(DB.EXTTYPE),'') BUILDING_TYPE,
CAST(ROUND(DT.FINISHEDAREA,0,1) AS INT) FINISHED_AREA ,
CAST(ROUND(DT.TOTALGROSSAREA,0,1) AS INT) TOTAL_AREA,
CAST(EDW.FN.TRIM(DB.YearBlt) AS INT) YEAR_BUILT,
ISNULL(CAST(EDW.FN.TRIM(DB.EffYearBlt) AS INT),0) EFFECTIVE_YEAR_BUILT,
ISNULL(RG.Units,0) UNITS,
ISNULL(DB.STORYHGT,0) STORIES,
ISNULL(RG.Bedrooms,0) BEDROOMS,
ISNULL(DB.FullBath,0) FULL_BATHS,
ISNULL(DB.HALFBATH,0) HALF_BATHS,
ISNULL(RG.Rooms,0) OTHER_ROOMS,
ISNULL(EDW.FN.TRIM(DB.Frame),'') FRAME,
ISNULL(EDW.FN.TRIM(DB.PrimeWall),'') PRIME_EXT_WALL,
ISNULL(EDW.FN.TRIM(DB.RoofStruct),'') ROOF_STRUCT,
ISNULL(EDW.FN.TRIM(DB.RoofCover),'') ROOF_COVER,
ISNULL(EDW.FN.TRIM(DB.HeatType),'') HEAT_TYPE,
ISNULL(DB.Fireplaces,0) FIREPLACES,
ISNULL(EDW.FN.TRIM(DB.Grade),'') GRADE,
0 BUILDING_VALUE
FROM 
DATAPROPERTY DP
JOIN
DATABUILDING DB
ON DP.ACCOUNTNUMBER = DB.ACCOUNTNUMBER
AND
DP.CARDNUMBER = DB.CARDNUMBER
LEFT OUTER JOIN
DATARESGRID RG
ON DP.ACCOUNTNUMBER = RG.ACCOUNTNUMBER
AND
DP.CARDNUMBER = RG.CARDNUMBER
LEFT OUTER JOIN
(SELECT * FROM DatatotalValues WHERE CARDNUMBER = 0) DT
ON DP.ACCOUNTNUMBER = DT.ACCOUNTNUMBER
AND
DP.CARDNUMBER = DT.CARDNUMBER
COMMIT TRAN

BEGIN TRAN
INSERT INTO WEB.STAGE.SITUS (PARCEL_ID,CARD_NUMBER,DB_YEAR,LINE1,CITY,POSTAL_CODE)
SELECT 
DP.PARCELID PARCEL_ID,
DP.CARDNUMBER CARD_NUMBER,
2012 DB_YEAR,
EDW.FN.TRIM(COALESCE(EDW.FN.TRIM(STREETNUMBER) + ' ','') + COALESCE(NULLIF(EDW.FN.TRIM(LOCDIRECTION),'-') + ' ','') + EDW.FN.TRIM(TL.DESCRIPTION) + COALESCE(' ' + DP.UNIT,'')) LINE1,
TC.DESCRIPTION CITY,
LOCATIONSTATE POSTAL_CODE
FROM DATAPROPERTY DP
JOIN
TABLELOCATIONS TL
ON
DP.LOCATIONLOOKUP = TL.CODE
JOIN
TABLECITY TC
ON
TL.CITYCODE = TC.CODE
JOIN
DATALEGAL DL
ON
DL.ACCOUNTNUMBER = DP.ACCOUNTNUMBER
AND
DL.CARDNUMBER = DP.CARDNUMBER
COMMIT TRAN

BEGIN TRAN
INSERT INTO WEB.STAGE.EXTRA_FEATURE
SELECT 
DP.PARCELID PARCEL_ID,
DP.CARDNUMBER CARD_NUMBER,
@DBYEAR DB_YEAR,
NULL,
OUTBUILDINGTYPE XFOB_CD,
DS.YEARBUILT YEAR_BUILT,
0 XFOB_VALUE
FROM DATASFYI DS
JOIN
DATAPROPERTY DP
ON DS.ACCOUNTNUMBER = DP.ACCOUNTNUMBER
AND 
DS.CARDNUMBER = DP.CARDNUMBER
COMMIT TRAN

BEGIN TRAN
INSERT INTO WEB.STAGE.DISTRICT
SELECT 
DP.PARCELID PARCEL_ID,
--DP.CARDNUMBER CARD_NUMBER,
@DBYEAR DB_YEAR,
NULL,
DISTRICTCODE DISTRICT_CODE,
AMOUNTTAXABLE TAXABLE_AMOUNT,
DISTRICTTAX DISTRICT_TAX
FROM DATADISTRICTS DD
JOIN
(SELECT DISTINCT ACCOUNTNUMBER,PARCELID  FROM DATAPROPERTY) DP
ON DD.ACCOUNTNUMBER = DP.ACCOUNTNUMBER
COMMIT TRAN


BEGIN TRAN
INSERT INTO WEB.STAGE.VALUE
SELECT 
DP.PARCELID PARCEL_ID,
--DP.CARDNUMBER CARD_NUMBER,
@DBYEAR DB_YEAR,
NULL,
FISCALYEAR FISCAL_YEAR,
CASE WHEN CATEGORY = 'PR' THEN 4
WHEN CATEGORY ='CRT1' THEN 3
WHEN CATEGORY = 'TRIM' THEN 2
WHEN CATEGORY = 'FV' THEN 1 END SEQ_NUMBER,
CATEGORY CATEGORY,
TOTALVALUE JUST,
FULLLANDVALUE LAND,
FULLBUILDINGVALUE IMPROVEMENT,
TAXABLETOTAL ASSESSED,
VALUEEXEMPTION EXEMPTION
FROM DATAPREASSESGENERAL DD
JOIN
(SELECT DISTINCT ACCOUNTNUMBER,PARCELID  FROM DATAPROPERTY WHERE CARDNUMBER = 1) DP
ON DD.ACCOUNTNUMBER = DP.ACCOUNTNUMBER
WHERE DD.CATEGORY IS NOT NULL AND DD.CATEGORY IN ('FV','CRT1','PR','TRIM')
COMMIT TRAN


BEGIN TRAN
INSERT INTO WEB.STAGE.EXEMPTION
SELECT 
DP.PARCELID PARCEL_ID,
--DP.CARDNUMBER CARD_NUMBER,
@DBYEAR DB_YEAR,
NULL,
GRANTYEAR GRANT_YEAR,
EXEMPTIONCODE EXEMPTION_CD,
ISNULL(CAST(ROUND(AMOUNTOFFTOTALASSESSMENT,0,1) AS INT),0) EXEMPTION_AMOUNT
FROM DATAEXEMPTION DD
JOIN
(SELECT DISTINCT ACCOUNTNUMBER,PARCELID  FROM DATAPROPERTY) DP
ON DD.ACCOUNTNUMBER = DP.ACCOUNTNUMBER
COMMIT TRAN


BEGIN TRAN
INSERT INTO WEB.STAGE.TRANSFER
SELECT 
DP.PARCELID PARCEL_ID,
--DP.CARDNUMBER CARD_NUMBER,
@DBYEAR DB_YEAR,
NULL,
SALEDATE TRANSFER_DATE,
SALEPRICE RECORDED_CONSIDERATION,
NALCODE QUAL_CD,
LEGALREFERENCE INSTRUMENT_NUMBER,
GRANTORLASTNAME GRANTOR,
DEEDTYPE INSTRUMENT_TYPE
FROM DATASALES DD
JOIN
(SELECT DISTINCT ACCOUNTNUMBER,PARCELID  FROM DATAPROPERTY) DP
ON DD.ACCOUNTNUMBER = DP.ACCOUNTNUMBER
COMMIT TRAN

BEGIN TRAN
INSERT INTO WEB.STAGE.OWNER
SELECT 
DP.PARCELID PARCEL_ID,
--DP.CARDNUMBER CARD_NUMBER,
@DBYEAR DB_YEAR,
NULL,
SEQ OWNER_NUMBER,
OWNER_NAME NAME,
LINE1,
LINE2,
LINE3,
CITY,
PROVINCE,
POSTAL_CODE,
COUNTRY
FROM 
(
SELECT * FROM (
SELECT ACCOUNTNUMBER,ISNULL(CUO1FIRSTNAME + ' ','') + ISNULL(DESCRIPTION,'') OWNER_NAME,1 SEQ, NULL DOB,CUO1OWNERTYPE OWNER_TYPE, VALIDOWNER,'PROPERTY_OWNER' TYP,  CUOSALEDATE, CUOSTREET1 LINE1, CUOSTREET2 LINE2, NULL LINE3, CUOCITY CITY, CUOSTATE PROVINCE, CUOPOSTAL POSTAL_CODE, NULL COUNTRY FROM ASSESSPRO..TABLEOWNERSHIP B JOIN DATAPROPERTY C ON B.CODE = C.OWNERLOOKUP
UNION 
SELECT ACCOUNTNUMBER,ISNULL(CUO2FIRSTNAME + ' ','') + ISNULL(CUO2LASTNAME,''),2 SEQ, NULL DOB,CUO1OWNERTYPE, VALIDOWNER,'PROPERTY_OWNER' TYP, CUOSALEDATE,CUOSTREET1 LINE1, CUOSTREET2 LINE2, NULL LINE3, CUOCITY CITY, CUOSTATE PROVINCE, CUOPOSTAL POSTAL_CODE, NULL COUNTRY  FROM ASSESSPRO..TABLEOWNERSHIP B JOIN DATAPROPERTY C ON B.CODE = C.OWNERLOOKUP
UNION 
SELECT ACCOUNTNUMBER,ISNULL(CUO3FIRSTNAME + ' ','') + ISNULL(CUO3LASTNAME,''),3 SEQ, NULL DOB,CUO1OWNERTYPE, VALIDOWNER,'PROPERTY_OWNER' TYP, CUOSALEDATE,CUOSTREET1 LINE1, CUOSTREET2 LINE2, NULL LINE3, CUOCITY CITY, CUOSTATE PROVINCE, CUOPOSTAL POSTAL_CODE, NULL COUNTRY FROM ASSESSPRO..TABLEOWNERSHIP B JOIN DATAPROPERTY C ON B.CODE = C.OWNERLOOKUP
UNION 
--SELECT ACCOUNTNUMBER,DESCRIPTION + ' ' + CUO1FIRSTNAME,4 SEQ, NULL DOB,CUO1OWNERTYPE, VALIDOWNER, 'GRANTOR' TYP, SALEDATE FROM ASSESSPRO..TABLEPREVIOUSOWNERSHIP B JOIN ASSESSPRO..DATASALES C ON B.CODE = C.GRANTOWNERLOOKUP
--UNION ALL
--SELECT ACCOUNTNUMBER,CUO2LASTNAME + ' ' + CUO2FIRSTNAME,5 SEQ, NULL DOB,CUO1OWNERTYPE, VALIDOWNER, 'GRANTOR' TYP, SALEDATE  FROM ASSESSPRO..TABLEPREVIOUSOWNERSHIP B JOIN ASSESSPRO..DATASALES C ON B.CODE = C.GRANTOWNERLOOKUP
--UNION ALL
--SELECT ACCOUNTNUMBER,CUO3LASTNAME + ' ' + CUO3FIRSTNAME,6 SEQ, NULL DOB,CUO1OWNERTYPE, VALIDOWNER, 'GRANTOR' TYP, SALEDATE  FROM ASSESSPRO..TABLEPREVIOUSOWNERSHIP B JOIN ASSESSPRO..DATASALES C ON B.CODE = C.GRANTOWNERLOOKUP
--UNION ALL
SELECT ACCOUNTNUMBER,ISNULL(OWNERLASTNAME + ' ','') + ISNULL(OWNERFIRSTNAME,''), ROW_NUMBER() OVER(PARTITION BY ACCOUNTNUMBER ORDER BY ACCOUNTNUMBER) + 3 SEQ, NULL DOB, OWNERTYPE,  CASE WHEN RESEX = 1 THEN 'Y' ELSE 'N' END,'PROPERTY_OWNER' TYP, NULL, ALTOWNSTREET1 LINE1,ALTOWNSTREET2 LINE2, NULL LINE3, ALTOWNCITY CITY, ALTSTATE PROVINCE, ALTPOSTAL POSTAL_CODE, NULL COUNTRY   FROM DATAALTOWNERSHIP
) AS T1
WHERE OWNER_NAME IS NOT NULL AND EDW.FN.TRIM(OWNER_NAME) <> '')
AS J1
JOIN (SELECT DISTINCT PARCELID, ACCOUNTNUMBER FROM DATAPROPERTY WHERE CARDNUMBER = 1) DP
ON DP.ACCOUNTNUMBER = J1.ACCOUNTNUMBER
COMMIT TRAN
SET NOCOUNT OFF

